<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Management System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
 
</head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/admin">Restaurant Management System</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu Category </a>
            <ul class="dropdown-menu">
                <li><a href="/add-new-category" class="dropdown-item">Add New Category</a></li>
              <li><a href="/menuCategory" class="dropdown-item">View All Category</a></li>
            </ul></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu Details </a>
              <ul class="dropdown-menu">
                  <li><a href="/add-new-menu" class="dropdown-item">Add New Menu</a></li>
                <li><a href="/view-all-item" class="dropdown-item">View All Menu</a></li>
              </ul></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Booking Details </a>
                <ul class="dropdown-menu">
                    <li><a href="/add-two" class="dropdown-item">Add Two Seater</a></li>
                    <li><a href="/add-four" class="dropdown-item">Add Four Seater</a></li>
                    <li><a href="/add-six" class="dropdown-item">Add Six Seater</a></li>
                  <li><a href="/view-two" class="dropdown-item">View Two Seater</a></li>
                  <li><a href="/view-four" class="dropdown-item">View four Seater</a></li>
                  <li><a href="/view-six" class="dropdown-item">View Six Seater</a></li>
                </ul></li>
              <li><a href="/logout">Logout</a></li>
        </ul>
        <div class="navbar-header" style="float: right;"> <a class="navbar-brand" href="#">Loggedin As: <% if(loginUser){ %> <%= loginUser  %> <% } %></a></div>
      </div>
    </nav>

              <div class="container">
                <div class="row">

                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"> Add New Password</div>
                                 </div>  
                            <div class="panel-body" >
                                <form action="/add-new-menu" id="passwordform" class="form-horizontal" method="post"  role="form" enctype="multipart/form-data">
                                      <% if(success !=''){%>
                                        <p style="text-align: center;color:green;"><%= success %></p>
                                          <% } %>
                                  <div class="form-group">
                                            <label for="username" class="col-md-3 control-label">Product Category</label>
                                            <div class="col-md-9">
                                               <select class="form-control" name="pass_cat">
                                                   <option value="">Choose Password Category</option>
                                                   <% if(records.length > 0){
                                                    records.forEach(function(row){
                                                    %>
                                                   <option value="<%= row.menuCategory %>"><%= row.menuCategory %></option>
                                                   <%  }) } %>
                                                  </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="username" class="col-md-3 control-label">Product Id</label>
                                          <div class="col-md-9">
                                              <input type="textbox" class="form-control" name="pid"  placeholder="Enter Your Project Name">
                                          </div>
                                      </div>

                                      <div class="form-group">
                                        <label for="username" class="col-md-3 control-label">Product Image</label>
                                        <div class="col-md-9">
                                            <input type="file" class="form-control" name="file" >
                                        </div>
                                    </div>

                                        <div class="form-group">
                                          <label for="username" class="col-md-3 control-label">Menu Name</label>
                                          <div class="col-md-9">
                                              <input type="textbox" class="form-control" name="name"  placeholder="Enter Your Project Name">
                                          </div>
                                      </div>
                                      


                                      <div class="form-group">
                                        <label for="username" class="col-md-3 control-label">Price</label>
                                        <div class="col-md-9">
                                            <input type="textbox" class="form-control" name="price"  placeholder="Enter Your Project Name">
                                        </div>
                                    </div>
                                      
                                    

                                    <div class="form-group">
                                        <label for="username" class="col-md-3 control-label">Product Details</label>
                                        <div class="col-md-9">
                                            <textarea class="form-control" id="editor" name="details" rows="5" placeholder="Enter Your Password Details"></textarea>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="Add New Item" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    <p><a href="/view-all-item">View All Password Lists</a></p>
                                     
                                    
                                    
                                    
                                </form>
                             </div>
                        </div>
            
                   
                   
                    
             </div> 
                </div>
              </div>
              <script>
                CKEDITOR.replace( 'editor' );
            </script>    
              
  </body>
</html>
